[run]
source = runserveronhostname
omit = 
    */tests/*
    */test_*.py
    */__init__.py
    */management/__init__.py
    */management/commands/__init__.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
    if TYPE_CHECKING:
    @abstractmethod
